<nav class="navbar">
  <ul class="nav-list">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Favorites" %></li>
    <li><%= link_to "My Posts", vehicles_path %></li>
    <li><%= button_to "Post Ad", vehicles_path, method: :post, class: 'nav-link' %></li>
    <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
    </li>
  </ul>
</nav>
