<div class="vehicle-wrapper">
  <div class="vehicle-form" data-controller="vehicle-form">
    <%= render "shared/statusbar" %>
    <%= form_with(model: @vehicle, url: wizard_path, html: { id: 'vehicle-form', enctype: 'multipart/form-data' }) do |form| %>
      <div class="row">
        <div class="form-group">
          <%= form.label :vehicle_image %>
          <%= form.file_field :vehicle_image, id: 'image-upload', multiple: true %>
          <div id="image-preview-container" style="display: flex; flex-wrap: wrap; margin-top: 40px"></div>
          </div>
      </div>
      <div>
        <%= link_to 'Back', previous_wizard_path, class: 'btn btn-secondary' %>
        <%= form.submit 'Submit', class: 'btn btn-primary', id: 'submit-button', disabled: true %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="imageLimitModal" tabindex="-1" role="dialog" aria-labelledby="imageLimitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageLimitModalLabel">Image Limit Exceeded</h5>
        <button type="button" class="close" data-dismiss="modal" id="close-Modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You can select a maximum of 5 images.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">OK</button>
      </div>
    </div>
  </div>
</div>

