<div class="vehicle-wrapper">
  <div class="vehicle-form" data-controller="vehicle-form">
    <%= render "shared/statusbar" %>
    <%= form_with(model: @vehicle, url: wizard_path, html: { id: 'vehicle-form', "data-action": "vehicle-form#onSubmit" }) do |form| %>
      <div class="row">
        <div class="form-group">
          <%= form.label :vehicle_image %>
          <%= form.file_field :vehicle_image, class: 'image-upload', multiple: true, "data-action": "vehicle-form#onImageChange" %>
          <div class="image-preview">
            <img id="image-preview" src="#" alt="Selected Image" style="display: none;">
            <span class="remove-image" style="display: none;" data-action="vehicle-form#onRemoveImage">&times;</span>
          </div>
        </div>
      </div>
      <div>
        <%= link_to 'Back', previous_wizard_path, class: 'btn btn-secondary' %>
        <%= form.submit 'Submit', class: 'btn btn-primary', id: 'submit-button', disabled: true %>
      </div>
    <% end %>
  </div>
</div>
