<div class="vehicle-wrapper">
  <div class="vehicle-form">
  <%= render "shared/statusbar" %>
    <%= form_with(model: @vehicle, url: wizard_path) do |form| %>
      <div class="row">
        <div class="form-group">
          <%= form.label :primaryContact %>
          <%= form.text_field :primaryContact, class: 'form-control' %>
          <% if @vehicle.errors[:primaryContact].any? %>
            <div class="text-danger"><%= "Primary Contact " + @vehicle.errors[:primaryContact].join(", ") %></div>
          <% end %>  
        </div>
        <div class="form-group">
          <%= form.label :secondaryContact %>
          <%= form.text_field :secondaryContact, class: 'form-control' %>
          <% if @vehicle.errors[:secondaryContact].any? %>
            <div class="text-danger"><%= "Secondary Contact " + @vehicle.errors[:secondaryContact].join(", ") %></div>
          <% end %>  
        </div>
      </div>
      <div>
        <%= link_to 'Back', previous_wizard_path, class: 'btn btn-secondary' %>
        <%= form.submit 'next', class: 'btn btn-primary' %>  
      </div>
    <% end %>
  </div>
</div>
