<div class="card col-sm-4 mt-custom m-auto">
  <h2 class="card-header">Log in</h2>
  <div class="card-body ml-custom">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-50" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

        <%= f.submit "Log in", class: 'btn btn-primary gap-2 col-6 mx-auto mb-3' %>
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <p class="mb-3 ml-cutom" style="margin-left:50px"> 
        Do not have an account? <%= link_to "Sign up", new_registration_path(resource_name) %>
      </p>
    <% end %>
  
<div style="margin-left:80px">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name)  %>
    <% end %>
    </div>
  </div>
</div>
